/* variables */
:root {
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

/* estilos iniciales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/* estilos del header */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
.header__image {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;
    text-align: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgb(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button img {
    width: 24px;
    height: 20px;
}
/* estilos del contenido principal */
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding: 80px 0 30px;
    text-align: center;
}
.main-exchange-container__image {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
/* estilos tablas de exchange container */
.main-tables-container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: 0 auto;
}
.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 264px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.main-currency-table  .main-currency-table__title {
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-currency-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 160px;
    margin: 0 auto;
}
.main-currency-table__container table {
    width: 100%;
    height: 100%;
}
.main-currency-table__container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.main-currency-table__container .table--top-left {
    border-radius: 10px 0 0 0;
}
.main-currency-table__container .table--top-right {
    border-radius: 0 10px 0 0;
}
.main-currency-table__container .table--bottom-left {
    border-radius: 0 0 0 10px;
}
.main-currency-table__container .table--bottom-right {
    border-radius: 0 0 10px 0;
}
.main-currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.table__image {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.currency-table__date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.currency-table__date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}
.currency-table__date p b {
    font-weight: bold;
}
.main-currency-table .main-currency-table__title--blue {
    color: var(--secondary-blue);
}
.currency-table__date--blue {
    background-color: #E7F5FF;
}
/* estilos de la seccion de información */
.main-info-container {
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 30px 0 30px;
    background-color: var(--warm-black);
}
.section-separator {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 24px;
}
.main-info-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: auto;
    margin: 40px auto 30px;
    text-align: center;
    color: var(--just-white);
}
.main-info-container__title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}
.main-info-container__title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.cards-container {
    width: 90%;
    min-width: 288px;
    max-width: 915px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.cards-container__card {
    min-width: 288px;
    max-width: 450px;
    min-height: 152px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 6px;
    background-color: var(--black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.cards-container__card img {
    width: 24px;
    height: 24px;
}
.cards-container__card h3 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.0rem;
    color: var(--just-white);
}
.cards-container__card p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
/* estilos de la seccion de imagen */
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(./assets/images/bitcoin-img-medium.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
/* estilos de la seccion de planes */
.main-plans-container {
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}
.main-plans-container__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
}
.main-plans-container__title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-plans-container__title p {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
/* estilos tarjetas de la seccion de planes*/
.plans-container__slider {
   min-width: 288px;
   max-width: 915px;
   min-height: 280px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   overflow-x: scroll;
}
.plans-container__slider::-webkit-scrollbar {
  height: 4px;
}
.plans-container__slider::-webkit-scrollbar-track {
  background: var(--soft-orange) 
}
.plans-container__slider::-webkit-scrollbar-thumb {
  background-color: var(--bitcoin-orange);
  border-radius: 4px;
}
.plans-container-card {
    position: relative;
    max-width: 200px;
    height: 250px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    background-color: var(--just-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.plans-container-card .recomended{
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 8px;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}
.plans-container-card__content {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.plans-container-card__content h3 {
    padding-top: 10px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.plans-container-card__content .plans-container-card__price {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--black);
}
.plans-container-card__price sup {
    margin-right: 5px;
    font-size: 1.2rem;
    font-weight: 500;
}
.plans-container-card__content p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #757575;
}
.plans-container-card__content button{
    width: 150px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    border: 3px solid var(--bitcoin-orange);
    background-color: var(--soft-orange);
}
.plans-container-card__content button img {
    width: 24px;
    height: 24px;
}
/* estilos del footer */
footer {
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer div {
    max-width:400px;
    min-width: 288px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}
.links-container ul{
    list-style: none;
}
.links-container a {
    text-decoration: none;
    color: var(--just-white);
}
.batata-copyright {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.8rem;
}


/* vista tablets en adelante */
@media (min-width: 768px) {
    .main-tables-container {
        flex-direction: row;
    }
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .plans-container__slider {
        overflow-x: hidden;
    }
}